
examples/datasets/crism/
examples/datasets/libs/
examples/datasets/mnist/
examples/datasets/raman/
examples/results
untapped/tests/results

*__pycache__/
.cache/

untapped.egg-info/
*.egg-info/
.eggs/

*.log
*.pyc

